.view-mode-crop-wrapper {
  display: flex;
  margin: -1em;
}

.view-mode-crop-menu {
  flex-basis: 20%;
  flex-shrink: 0;
  display: block;
  width: 600px;
  max-width: 20%;
  margin: 0; /* LTR */
  padding: 0;
  border-bottom: 1px solid #ccc;
  background-color: #e6e5e1;
  line-height: 1;
}

.view-mode-crop-menu li {
  display: block;
  padding: 0;
  list-style: none;
}

.view-mode-crop-menu__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #b3b2ad;
  background-color: #f2f2f0;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
}

.view-mode-crop-menu__link:active,
.view-mode-crop-menu__link:hover,
.view-mode-crop-menu__link:focus {
  background: #fcfcfa;
  text-shadow: none;
}

.view-mode-crop-menu__link:focus,
.view-mode-crop-menu__link:active {
  outline: none;
}

.view-mode-crop-menu__link.active {
  z-index: 1;
  margin-right: -1px; /* LTR */
  color: #000;
  border-right: 1px solid #fcfcfa; /* LTR */
  border-bottom: 1px solid #b3b2ad;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px hsla(0, 0%, 0%, 0.3);
}

.view-mode-crop-content {
  flex-grow: 1;
  width: 100%;
  padding: 1em;
  border-left: 1px solid #b3b2ad; /* LTR */
  outline: none;
  height: 70vh;
}

.view-mode-crop-view-mode-image-container {
  width: 100%;
  height: 100%;
}

.button.view_mode_crop_media_library_widget_crop_open {
  position: absolute;
  left: 0;
  top: 15px
}

.button.view-mode-crop-open-button,
.button.view-mode-crop-open-button:hover {
  position: absolute;
  z-index: 1;
  top: 0;
  overflow: hidden;
  width: 21px;
  height: 21px;
  padding: 0;
  transition: 0.2s border-color;
  color: transparent;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-size: 13px;
  text-shadow: none;
  font-size: 0;
  background: #fff url('../img/crop.svg') center no-repeat;
  background-size: 13px;
  left: auto;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.image-widget.js-form-managed-file {
  position: relative;
}

.image-widget .button.view-mode-crop-open-button {
  top: 9px;
}

.view-mode-crop-state-container {
  display: none !important;
}

.js-media-library-item .button.view-mode-crop-open-button {
  left: 1rem;
  right: auto;
  top: 1rem;
}

.view-mode-crop-widget-modal .button.button-link {
  background: transparent;
  box-shadow: unset;
}

.view-mode-crop-widget-modal .button.button-link:hover {
  text-decoration: underline;
}
